/*-------------
 	General
-------------*/
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html{
	font: normal 140% sans-serif;
}

ul, nav{
	list-style: none;
}

/*-------------
 	Button
-------------*/
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 80%;
}

a:hover{
	opacity: 100%;
}

a.btn{
	color: #fff;
	border-radius: 40px;
	text-transform: uppercase;
	background-color: #ed900d;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 100%;
	height: 2px;
	background-color: #ed900d;
	border: 1px solid #ed900d;
	margin-bottom: 10%;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 100px;
}

@media (max-width: 800px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 300px){
	section{
		padding: 80px 30px;
	}
}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 130% 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: var(--win-width);
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Header
-------------*/
header{
	position: absolute;
	top: 0;
	left: 1;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 10px	
}

header nav li:last-child{
	margin-right: 0%;	
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*----------------
 	Hero Section
----------------*/
.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #1076c9;
	z-index: -1;
	alt: "background image";
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #615330;
	opacity: 0.75;
	alt: "Foto van een achtbaan"
}

.hero h1{
	font: bold 50px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 2px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 400px;
	}

	.hero h1{
		font-size: 60px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

/*---------------------
 	Contact Section
---------------------*/
.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}

/*-------------
 	Footer
-------------*/
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){
	footer{
		padding: 80px 15px;
	}
}