.shopping-cart-wrapper{
  margin-top: 15px;
  padding: 20px;
}
.totals .totals-item{
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label{
  width: 79%;
  text-align: right;
}
.totals-value{
  width: 21%;
  text-align: right;
}

